.controller.custom{
    background: url(https://i.imgur.com/DR89ZMf.png); 
    width: 1020px;
    height: 660px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(https://i.imgur.com/DR89ZMf.png); 
    width: 1020px;
    height: 660px;
}

.custom .dpad{
    position: absolute;
    top: 238px;
    left: 317px;
    width: 233px;
    height: 218px;
}
.custom .dpad .face{
    background-image: url('data:image/svg+xml;utf8,<svg width="100.38mm" height="94.386mm" version="1.1" viewBox="0 0 100.38 94.386" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
 <metadata>
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <g transform="translate(-40.167 -94.298)" fill="none" stroke="#000">
  <circle cx="53.224" cy="107.35" r="12.896" stroke-width=".323"/>
  <circle cx="82.748" cy="107.4" r="12.896" stroke-width=".323"/>
  <circle cx="109.11" cy="120.25" r="12.896" stroke-width=".323"/>
  <circle cx="124.63" cy="172.77" r="15.719" stroke-width=".39371"/>
 </g>
</svg>
');
        
}
.custom .face.up, .custom .face.down,
.custom .face.left, .custom .face.right{
    position: absolute;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 1px black;
    top: 0;
    left: 0;
}
.custom .face.pressed{
    background-color: green;
}
