.controller.custom{
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTU3IiBoZWlnaHQ9IjQxNiIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgOTU3LjE5IDQxNi41MSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+CiA8bWV0YWRhdGE+CiAgPHJkZjpSREY+CiAgIDxjYzpXb3JrIHJkZjphYm91dD0iIj4KICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgPGRjOnR5cGUgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIvPgogICAgPGRjOnRpdGxlLz4KICAgPC9jYzpXb3JrPgogIDwvcmRmOlJERj4KIDwvbWV0YWRhdGE+CiA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzEuNDAzIC0xMjEuMjIpIj4KICA8cmVjdCB4PSIzMi4wMTQiIHk9IjEyMS44MyIgd2lkdGg9Ijk1NyIgaGVpZ2h0PSI0MTYiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIxLjIyMSIvPgogPC9nPgo8L3N2Zz4K') no-repeat;
    width: 958px;
    height: 417px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(https://i.imgur.com/DR89ZMf.png); 
    width: 1020px;
    height: 660px;
}
